<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gamestyles.css') }}">
</head>
<body>
<div class="header" id="myHeader">
  <h1>Shawn's Console and Game Catalog</h1>
</div>
<div class="content consoleMods">
	<h2> Are you sure you want to delete {{i.name}}? </h2>

	<form action="{{ url_for('deleteConsole', console_id=i.id)}}" method = 'POST'>
	  <input class="deleteLink" type='submit', value = 'Delete'>
	  <a class="cancelLink" href = "{{ url_for('showConsoles')}}"> Cancel </a>
	</form>
</div>


<script>
  window.onscroll = function() {myFunction()};

  var header = document.getElementById("myHeader");
  var sticky = header.offsetTop;

  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
</script>
</body>
</html>
