<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gamestyles.css') }}">
</head>
<body>
<div class="header" id="myHeader">
  <h1>Shawn's Console and Game Catalog</h1>
</div>
<div class="content consoleMods">
	<h1> Edit Console </h1>

	<form action="{{ url_for('editConsole', console_id = i.id)}}" method = 'post'>
	  <input type ='text' size='30' name='name' placeholder='{{i.name }}'>
		<br /><br />
	  <input class="editLink" type='submit' value='Edit'>
	  <a class="cancelLink" href = '{{url_for('showConsoles')}}'> Cancel </a>
	</form>
</div>


<script>
  window.onscroll = function() {myFunction()};

  var header = document.getElementById("myHeader");
  var sticky = header.offsetTop;

  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
</script>
</body>
</html>
