<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gamestyles.css') }}">
</head>
<body>
<div class="header" id="myHeader">
  <h1>Shawn's Console and Game Catalog</h1>
</div>
<div class="content gameMods">
	<h1> Edit Game </h1>

	<form action="{{ url_for('editGame', console_id = console_id, game_id=i.id)}}" method = 'post'>
		  <p>Name: <input type ='text' size='30' name='name' placeholder = '{{i.name }}'></p>
			<p class="editDescription">Description: <textarea class="editDescription" name = 'description' rows='5' cols='40' placeholder = '{{i.description }}'></textarea></p>
			<p>Price: <input type = 'text' size = '8' name='price' placeholder = '{{i.price}}'></p>
			<p class="publisher">Publisher: <input type = 'text' size = '8' name='publisher' placeholder = '{{i.publisher}}'></p>

	  <input class="editLink" type='submit' value='Edit'>

	  <a class="cancelLink" href = '{{url_for('consoleGames', console_id = console_id)}}'> Cancel </a>
	</form>
</div>


<script>
  window.onscroll = function() {myFunction()};

  var header = document.getElementById("myHeader");
  var sticky = header.offsetTop;

  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
</script>
</body>
</html>
