<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gamestyles.css') }}">
</head>
<body>
  <div class="header" id="myHeader">
    <h1>Shawn's Console and Game Catalog</h1>
  </div>
  <div class="content consoleMods">
    <h2>Add New Console</h2>
    <div class = 'pane'>
      <form action="{{ url_for('newConsole')}}" method = 'post'>
        <input class="addText" type ='text' size='30' name='name' placeholder="New Console Name" required>
        </br>
        <input class="addBtn" type='submit' value='Add'>
      </br>
        <a class="cancelLink newCancelLink" href = '{{url_for('showConsoles')}}'> Cancel </a>
      </form>
    </div>
  </div>

  <script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
  </script>
</body>
</html>
