<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gamestyles.css') }}">
</head>
<body>
	<div class="header" id="myHeader">
	  <h1>Shawn's Console and Game Catalog</h1>
	</div>
	<div class="content gameMods">
		<h1>Add New Game</h1>
		<div class = 'pane'>
      <form action="{{ url_for('newGame', console_id = console_id)}}" method = 'post'>
				<p>Name: <input type ='text' size='30' name='name' placeholder = 'New Game Name' required></p>
				<p class="editDescription">Description: <textarea class="editDescription" name = 'description' rows='5' cols='40' placeholder = 'Enter Description Here' required></textarea></p>
				<p>Price: <input type = 'text' size = '8' name='price' placeholder = '$0.00' required></p>
				<p>Publisher: <input type = 'text' size = '10' name='publisher' placeholder = 'Game Publisher' required></p>
        </br>
				<input class="addNew" type='submit' value='Add'>

			  <a class="cancelLink" href = '{{url_for('consoleGames', console_id = console_id)}}'> Cancel </a>
      </form>
    </div>
  </div>


  <script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
  </script>
</body>
</html>
