<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gamestyles.css') }}">
</head>
<body>
<div class="header" id="myHeader">
  <h1>Shawn's Console and Game Catalog</h1>
</div>
<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
			{% for message in messages %}
			<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
</div>
<div class="content">
	<div class = 'pane'>
		<div class = 'head'>
			<h1 class="gameHead">{{ console.name }}</h1>
		</div>
		{%if 'username' not in session %}
			<a class="login" href="{{url_for('showLogin')}}">Click Here to Login </a>
      <a class="viewLink" href = '{{url_for('showConsoles') }}'>Back to Consoles</a>
      <p class="loginReason">*In order to have access to all features, you must log in.</p>
		{% else %}
			<a class="login" href="{{url_for('disconnect')}}">Logout </a>
      <a class="viewLink" href = '{{url_for('showConsoles') }}'>Back to Consoles</a>
		{% endif %}

    <br /><br />

		{% for i in games %}
		<div class="gamesView">
		  <div class = 'nameAndPrice'>
			  <span class = 'name'><p>{{i.name}}</span> -
			  <span class = 'price'>{{i.price}}</span></p>
      </div>

	  	<div class = 'description'>
	  	  <p>{{i.description}}</p>
	  	</div>

	    <div class = 'publisher'>
	  	  <p>Published by: {{i.publisher}}</p>
	  	</div>
		</div>
		{% endfor %}

	</div>
</div>

	<script>
	  window.onscroll = function() {myFunction()};

	  var header = document.getElementById("myHeader");
	  var sticky = header.offsetTop;

	  function myFunction() {
	    if (window.pageYOffset > sticky) {
	      header.classList.add("sticky");
	    } else {
	      header.classList.remove("sticky");
	    }
	  }
	</script>
</body>
</html>
